@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
:root {
	--soft-blue: hsl(231, 69%, 60%);
	--soft-red: hsl(0, 94%, 66%);
	--grayish-blue: hsl(229, 8%, 60%);
	--very-dark-blue: hsl(229, 31%, 21%);
}
body {
	margin: 0 auto;
	font-family: "Rubik", sans-serif;
	color: var(--grayish-blue);
}
header {
	padding: 0 4em;
}
nav {
	display: flex;
}
.logo {
	place-self: center;
	cursor: pointer;
}
.navbar {
	margin-left: auto;
	text-transform: uppercase;
}
.navbar ul {
	list-style: none;
}
.navbar li {
	display: inline-block;
	margin: 0 1em;
}
.navbar li:first-child {
	margin-left: 0;
}
.navbar li:last-child {
	margin-right: 0;
}
.navbar li a {
	text-decoration: none;
	color: var(--very-dark-blue);
	transition: color 0.2s linear;
}
.navbar li a:hover {
	color: var(--soft-red);
}
.button {
	font: inherit;
	border: 2px solid transparent;
	cursor: pointer;
	padding: 0.8em 2em;
	border-radius: 5px;
	font-size: 0.8em;
	background: var(--soft-red);
	color: #ffffff;
	box-shadow: 0px 3px 4px 1px hsl(231 69% 60% / 0.2);
	transition: all 0.2s linear;
}
.nav-login {
	text-transform: uppercase;
	margin-left: 1em;
}
.nav-login:hover {
	background: #ffffff;
	border-color: var(--soft-red);
	color: var(--soft-red);
}
section {
	margin-top: 2em;
}
#front {
	padding-left: 4em;
	display: flex;
}
#front h1 {
	font-size: 2.5em;
	color: var(--very-dark-blue);
}
#front .desc {
	width: 40%;
	margin-right: 3em;
	place-self: center;
	margin-bottom: 2em;
}
.illustration {
	position: relative;
}
.illustration::after {
	content: " ";
	width: 75%;
	background: var(--soft-blue);
	border-radius: 0 0 0 50%;
	position: absolute;
	right: 0;
	height: 75%;
	top: 25%;
	z-index: -1;
}
.illustration img {
	max-width: calc(100% - 2em);
}
#front .desc p {
	margin-bottom: 2em;
	max-width: 90%;
}
.violet {
	background: var(--soft-blue);
	color: #ffffff;
}
.white {
	background: #f7f7f7;
	color: var(--grayish-blue);
}
.violet:hover {
	background: #ffffff;
	border-color: var(--soft-blue);
	color: var(--soft-blue);
}
.white:hover {
	background: #ffffff;
	border-color: var(--grayish-blue);
	color: var(--grayish-blue);
}
#features {
	padding-right: 4em;
}
#features .desc,
#download .desc,
#faq .desc {
	text-align: center;
	display: flex;
	flex-direction: column;
}
#features .desc p,
#download .desc p,
#faq .desc p {
	max-width: 40%;
	place-self: center;
}
h2 {
	color: var(--very-dark-blue);
}
#features #items-names {
	display: flex;
	place-content: center;
	margin-bottom: 4em;
}
.item-name {
	padding: 1em 2em;
	border-bottom: 3px solid transparent;
	cursor: pointer;
	transition: color, border 0.2s linear;
	box-shadow: 0px 1px 0px 0px #e0e0ea;
}
.item-name:hover {
	color: var(--soft-red);
}
#items-names .active {
	border-color: var(--soft-red);
}
.tabs .item {
	display: none;
}
.tabs .active {
	display: flex;
}
.item .illustration {
	width: 50%;
	animation: fade both 1s;
	animation-delay: 0.2s;
}
.item .illustration::after {
	border-radius: 0 50% 50% 0;
	right: unset;
	left: 0;
	max-height: 350px;
	height: 100%;
	width: 70%;
}
.item .illustration img {
	max-width: calc(100% - 8em);
	margin-left: 8em;
}
.item .info {
	width: 40%;
	margin-left: 3em;
	place-self: center;
	margin-bottom: 2em;
	animation: fade both 0.5s;
	animation-delay: 0.5s;
}
.item .info p {
	max-width: 85%;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#download {
	margin-top: 8em;
}
.browser-cards {
	display: flex;
	place-content: center;
	margin-top: 4em;
}
.card-item {
	padding: 2em;
	margin: 0 1em;
	text-align: center;
	box-shadow: 2px 5px 10px 3px hsl(231 69% 60% / 0.1);
	border-radius: 15px;
	background-image: url(../images/bg-dots.svg);
	background-repeat: repeat no-repeat;
	background-position-y: 70%;
}
h3 {
	color: var(--very-dark-blue);
}
.card-item p {
	margin-bottom: 4.5em;
}
.card-item:nth-child(1) {
	margin-bottom: 8em;
}
.card-item:nth-child(2) {
	margin-bottom: 6em;
	margin-top: 2em;
}
.card-item:nth-child(3) {
	margin-bottom: 4em;
	margin-top: 4em;
}
#faq {
	display: flex;
	flex-direction: column;
}
#faq .faq-container {
	width: 100%;
	max-width: 40%;
	place-self: center;
	text-align: justify;
}
.q {
	position: relative;
	padding: 1em 0;
	border-top: 1px solid #e0e0ea;
}
.q input[type="radio"] {
	position: absolute;
	right: 1em;
	appearance: none;
	transition: all 0.6s ease;
	outline: none;
	cursor: pointer;
}
.q input[type="radio"]::before {
	content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12"><path fill="none" stroke="hsl(231, 69%, 60%)" stroke-width="3" d="M1 1l8 8 8-8"/></svg>');
}
.q label {
	color: var(--very-dark-blue);
	cursor: pointer;
	transition: all 0.2s linear;
}
.q label:hover {
	color: var(--soft-red);
}
.q input[type="radio"]:checked + label + p {
	display: block;
}
.q input[type="radio"]:checked::before {
	content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12"><path fill="none" stroke="hsl(0, 94%, 66%)" stroke-width="3" d="M1 1l8 8 8-8"/></svg>');
}
.q input[type="radio"]:checked {
	transform: rotateX(180deg);
}
.q .a {
	display: none;
	animation: collapse 0.6s both;
}
hr {
	background: #e0e0ea;
	border: none;
	height: 1px;
}
.center {
	text-align: center;
	margin: 2em 0;
}
@keyframes collapse {
	0% {
		opacity: 0;
		margin-top: -2em;
	}
	50% {
		opacity: 0;
	}
	100% {
		margin-top: 2em;
		opacity: 1;
	}
}
