@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
:root {
	--soft-blue: hsl(231, 69%, 60%);
	--soft-red: hsl(0, 94%, 66%);
	--grayish-blue: hsl(229, 8%, 60%);
	--very-dark-blue: hsl(229, 31%, 21%);
}
body {
	margin: 0 auto;
	font-family: "Rubik", sans-serif;
	color: var(--grayish-blue);
}
header {
	padding: 0 4em;
}
nav {
	display: flex;
}
.logo {
	place-self: center;
	cursor: pointer;
}
.navbar {
	margin-left: auto;
	text-transform: uppercase;
}
.navbar ul {
	list-style: none;
}
.navbar li {
	display: inline-block;
	margin: 0 1em;
}
.navbar li:first-child {
	margin-left: 0;
}
.navbar li:last-child {
	margin-right: 0;
}
.navbar li a {
	text-decoration: none;
	color: var(--very-dark-blue);
	transition: color 0.2s linear;
}
.navbar li a:hover {
	color: var(--soft-red);
}
.button {
	font: inherit;
	border: 2px solid transparent;
	cursor: pointer;
	padding: 0.8em 2em;
	border-radius: 5px;
	font-size: 0.8em;
	background: var(--soft-red);
	color: #ffffff;
	box-shadow: 0px 3px 4px 1px hsl(231 69% 60% / 0.2);
	transition: all 0.2s linear;
}
.nav-login {
	text-transform: uppercase;
	margin-left: 1em;
}
.nav-login:hover {
	background: #ffffff;
	border-color: var(--soft-red);
	color: var(--soft-red);
}
section {
	padding-top: 4em;
}
#front {
	padding-left: 4em;
	display: flex;
}
#front h1 {
	font-size: 2.5em;
	color: var(--very-dark-blue);
}
.desc {
	width: 40%;
	margin-right: 3em;
}
.illustration {
	width: 54%;
	background: var(--soft-blue);
	border-radius: 0 0 0 50%;
	margin-left: 6em;
	position: relative;
	margin-bottom: -8em;
	margin-top: 4em;
}
.illustration img {
	position: absolute;
	left: -6em;
	top: -6em;
	max-width: 100%;
}
.desc p {
	margin-bottom: 2em;
}
.violet {
	background: var(--soft-blue);
	color: #ffffff;
}
.white {
	background: #f7f7f7;
	color: var(--grayish-blue);
}
.violet:hover {
	background: #ffffff;
	border-color: var(--soft-blue);
	color: var(--soft-blue);
}
.white:hover {
	background: #ffffff;
	border-color: var(--grayish-blue);
	color: var(--grayish-blue);
}
